services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    container_name: infario_dev
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - ./traefik/dynamic:/app/traefik/dynamic
    environment:
      - GO_ENV=development
    command: air -c .air.toml
    depends_on:
      - postgres
      - redis
      - traefik

  postgres:
    image: postgres:18.2-alpine
    container_name: infario_db
    environment:
      POSTGRES_USER: infario_user
      POSTGRES_PASSWORD: infario_password
      POSTGRES_DB: infario
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8.6.1-alpine
    container_name: infario_cache
    ports:
      - "6379:6379"

  traefik:
    image: traefik:v3.3.0
    container_name: infario_traefik
    ports:
      - "80:80"
      - "443:443"
      - "8081:8081"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - ./traefik/dynamic:/etc/traefik/dynamic
    command:
      - "--api.insecure=true"
      - "--providers.file.directory=/etc/traefik/dynamic"
      - "--providers.file.watch=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.static.address=:8081"

volumes:
  postgres_data:

