services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      target: dev
    container_name: infario_dev
    ports:
      - "8080:8080"
    volumes:
      - .:/app
      - ./nginx/conf.d:/app/nginx/conf.d
      - ./storage:/app/storage
    environment:
      - GO_ENV=development
    command: air -c .air.toml
    depends_on:
      - postgres
      - redis
      - nginx

  postgres:
    image: postgres:18.2-alpine
    container_name: infario_db
    environment:
      POSTGRES_USER: infario_user
      POSTGRES_PASSWORD: infario_password
      POSTGRES_DB: infario
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8.6.1-alpine
    container_name: infario_cache
    ports:
      - "6379:6379"

  nginx:
    image: nginx:alpine
    container_name: infario_nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - ./storage:/storage:ro


volumes:
  postgres_data:

